# <font color=darkblue>Week 7 Assignment </font>

## Full name: 
## R#: 
## Title of the notebook:
## Date:

![](https://xylomeet.com/wp-content/uploads/2020/06/meet-for-finance.gif) <br>

___
### The "AirQuality" dataset is provided from BigML.com available @ http://bml.io/ZzMj8k. These data give air pollution and related values for 41 U.S. cities and were collected from U.S. government publications. The data are means over the years 1969-1971. Here the columns and some information about them:

> City: City <br>
  SO2: Sulfur dioxide content of air in micrograms per cubic meter <br>
  Enterprises: Number of manufacturing enterprises employing 20 or more workers <br>
  Population: Population size in thousands from the 1970 census <br>
  Wind speed: Average annual wind speed in miles per hour <br>
  Rain Days: Average number of days with precipitation per year <br>

__1. Read the "AirQuality.csv" file as a dataframe and check its first few rows.__<br>

            City  SO2  Enterprises  Population  Wind speed  Rain days
0        Phoenix   10          213         582          60         36
1    Little Rock   13           91         132          82        100
2  San Francisco   12          453         716          87         67
3         Denver   17          454         515          90         86
4       Hartford   56          412         158          90        127

___
__2. Use descriptive functions of the Pandas library and explain the format of the dataframe__<br>

___
__3. Compute the arithmetic and harmonic mean of 'SO2'.__<br>

___
__4. Find the median, range, and IQR of 'Population'.__<br>

___
__5. Find the 10th,40th, and 70th percentile of 'Wind speed'.__<br>

___
__6. Provide a 5-number summary of 'Rain Days'. Plot one box plot with outliers and one without outliers. Interpret it in your own words__<br>

___
__7. Find the variance and standard deviation of 'Enterprises'.__<br>

___
__8. Find the skewness and kurtosis 'Wind speed'.__<br>

___
__9. Create a a line plot of SO2 vs City.__<br>

___
__10. Using the Weibull plotting position formula, plot an empirical CDF for "Wind speed".__<br>

___
__11. Fit the normal, log-normal, and Gumbell EV1 distributions and visually assess the goodness-of-fit.__<br>

___
__12. Use the best fit from last step and fill the table below__<br>

|Exceedence Probability|Wind Speed|Remarks|
|:---|:---|:---|
|25% |????| 75% chance of greater value|           
|50% |????| 50% chance of greater value|            
|75% |????| 25% chance of greater value|            
|90% |????| 10% chance of greater value|
|99% |????| 1% chance of greater value (in flood statistics, this is the 1 in 100-yr chance event)|
|99.8%|????| 0.002% chance of greater value (in flood statistics, this is the 1 in 500-yr chance event)|
|99.9%|????| 0.001% chance of greater value (in flood statistics, this is the 1 in 1000-yr chance event)|

![](https://freight.cargo.site/w/1200/i/c96b2ce17b2aee95c6e837552e3e38d058ac4ad2a6759448ed78128963790744/Happy_Coding_BC_6-03-05.png)