**Download** (right-click, save target as ...) this page as a jupyterlab notebook from: [Lab12](http://54.243.252.9/engr-1330-webroot/8-Labs/Lab12/Lab12.ipynb)

___

# <font color=darkred>Laboratory 12: Practice with Pandas </font>

**LAST NAME, FIRST NAME**

**R00000000**

ENGR 1330 Laboratory 7.1 - In-Lab

## Exercise 1
Profile your computer

Run the script below exactly as written

In [6]:
import sys
! hostname
! whoami
print(sys.executable)

atomickitty
sensei
/opt/jupyterhub/bin/python3

___

## Exercise 2

This laboratory will work with a winequality database, our first step is to get the database.  Run the script below to get the database.  If it does not work for you, then manually get the database from the URL in the script

In [9]:
######### CODE TO AUTOMATICALLY DOWNLOAD THE DATABASE ################
#! pip install requests #install packages into local environment
import requests # import needed modules to interact with the internet
# make the connection to the remote file (actually its implementing "bash curl -O http://fqdn/path ...")
remote_url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/wine-quality/winequality-red.csv' # a csv file
response = requests.get(remote_url) # Gets the file contents puts into an object
output = open('winequality-red.csv', 'wb') # Prepare a destination, local
output.write(response.content) # write contents of object to named local file
output.close() # close the connection

1. Verify you have the database.  Paste a screen capture of your proof of sucessful download.  Ways to verify:
- Open the database in the file system; screen capture the database or
- Use a system command like ! ls -la winequality-red.csv, observe the output.  The file should have a non-zero size.

In [10]:
! ls -la winequality-red.csv

-rw-rw-r-- 1 sensei sensei 84199 Feb 15 23:20 winequality-red.csv

2.  Read the data as a data frame and print the first few rows. In a few lines explain what can be understood about the data from this.

In [1]:
# Put your code here - start with scaffolding and back-fill code
# Read the data as a data frame and print the first few rows. 
import pandas 
df = pandas.read_csv('winequality-red.csv', sep=';')
df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

### Put your explaination here

...

...

2.  Use the appropriate function and get a summary of information on the data frame. Explain what you can learn from this summary report.

In [2]:
# Summary of information on the data frame. 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1599 entries, 0 to 1598
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         1599 non-null   float64
 1   volatile acidity      1599 non-null   float64
 2   citric acid           1599 non-null   float64
 3   residual sugar        1599 non-null   float64
 4   chlorides             1599 non-null   float64
 5   free sulfur dioxide   1599 non-null   float64
 6   total sulfur dioxide  1599 non-null   float64
 7   density               1599 non-null   float64
 8   pH                    1599 non-null   float64
 9   sulphates             1599 non-null   float64
 10  alcohol               1599 non-null   float64
 11  quality               1599 non-null   int64
dtypes: float64(11), int64(1)
memory usage: 150.0 KB

3.  Are there any missing values in the data? Justify your answer.

In [3]:
# Are there any missing values in the data? 
df.isnull().sum().sum() # sum up and report how many missing values!

0

4.  Use the appropriate function and get the 5-number summary for the data frame. Explain what you can learn from this summary report for each column.

In [ ]:
# Use the appropriate function and get the 5-number summary for the data frame. Explain what you can learn from this summary report for each column.
df.describe()

5.  Rename the "quality (score _0to10)" column heading to "quality"

In [4]:
# Rename the "quality (score _0to10)" column heading to "quality"
df.rename(columns={
        'quality (score _0to10)': 'quality'
    }, inplace=True)

df

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
...,...,...,...,...,...,...,...,...,...,...,...,...
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6

6.  Make a subset of all the wines with a quality above 7. Name this subset "TopQ".

In [5]:
# Make a subset of all the wines with a quality above 7. Name this subset "TopQ".
TopQ = df[df['quality'] >= 7]
TopQ

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
7,7.3,0.65,0.00,1.2,0.065,15.0,21.0,0.99460,3.39,0.47,10.00,7
8,7.8,0.58,0.02,2.0,0.073,9.0,18.0,0.99680,3.36,0.57,9.50,7
16,8.5,0.28,0.56,1.8,0.092,35.0,103.0,0.99690,3.30,0.75,10.50,7
37,8.1,0.38,0.28,2.1,0.066,13.0,30.0,0.99680,3.23,0.73,9.70,7
62,7.5,0.52,0.16,1.9,0.085,12.0,35.0,0.99680,3.38,0.62,9.50,7
...,...,...,...,...,...,...,...,...,...,...,...,...
1541,7.4,0.25,0.29,2.2,0.054,19.0,49.0,0.99666,3.40,0.76,10.90,7
1544,8.4,0.37,0.43,2.3,0.063,12.0,19.0,0.99550,3.17,0.81,11.20,7
1549,7.4,0.36,0.30,1.8,0.074,17.0,24.0,0.99419,3.24,0.70,11.40,8
1555,7.0,0.56,0.17,1.7,0.065,15.0,24.0,0.99514,3.44,0.68,10.55,7
1584,6.7,0.32,0.44,2.4,0.061,24.0,34.0,0.99484,3.29,0.80,11.60,7

7. What percentage of wines in "TopQ" has an alcohol content less than 10%? What is this percentage out of the entire set of wine (the original data)?

In [6]:
# What percentage of wines in "TopQ" has an alcohol content less than 10%? What is this percentage out of the entire set of wine (the original data)?
TopQ_a10 = TopQ[TopQ['alcohol'] < 10.00]
p1 = len(TopQ_a10)/len(TopQ)
p2 = len(TopQ_a10)/len(df)

print("The percentage of wines with an alcohol content of less than 10% out of the top quality wines (Q>7) is ",round(p1,3))
print("The percentage of wines with an alcohol content of less than 10% out of the entire dataset is ",round(p2,3))

The percentage of wines with an alcohol content of less than 10% out of the top quality wines (Q>7) is  0.055
The percentage of wines with an alcohol content of less than 10% out of the entire dataset is  0.008

8. Print the above subset of the dataframe, sorted by wine quality.

9. Define a function that labels the wines based on their quality according to the table below: <br>

|Quality Score|Label.|
|---:|---:|
|q>= 7|Top|
|5<q<7|Average|
|q<=5|Low|

10. Apply the function on the data frame and store the result in a new column "Qlabel".

11. Report the share of each quality label in percentage.

12. Plot a histogram of pH for all the Low quality wines. Explain what you can infer from this plot.

13. Make a similar histogram for pH for all the Top quality wines.

### Bonus
Put the new histogram and the previous one next to each other and explain what you can infer by comparing them.